/*!
    OXCSS Color IBM1
    Define colors for OXCSS from the IBM Design Language v1 color set.

    Colors from IBM v1
    https://www.ibm.com/design/v1/language/resources/color-library/
*/


/* Color Variables */
:root {


    /* IBM v1 - Blue */
    --ox-color-ibm1-blue-1:   #e1ebf7;
    --ox-color-ibm1-blue-10:  #c8daf4;
    --ox-color-ibm1-blue-20:  #a8c0f3;
    --ox-color-ibm1-blue-30:  #79a6f6;
    --ox-color-ibm1-blue-40:  #5392ff;
    --ox-color-ibm1-blue-50:  #2d74da;
    --ox-color-ibm1-blue-60:  #1f57a4;
    --ox-color-ibm1-blue-70:  #25467a;
    --ox-color-ibm1-blue-80:  #1d3458;
    --ox-color-ibm1-blue-90:  #19273c;



    /* IBM v1 - ultramarine */
    --ox-color-ibm1-ultramarine-1:   #e7e9f7;
    --ox-color-ibm1-ultramarine-10:  #d1d7f4;
    --ox-color-ibm1-ultramarine-20:  #b0bef3;
    --ox-color-ibm1-ultramarine-30:  #89a2f6;
    --ox-color-ibm1-ultramarine-40:  #648fff;
    --ox-color-ibm1-ultramarine-50:  #3c6df0;
    --ox-color-ibm1-ultramarine-60:  #3151b7;
    --ox-color-ibm1-ultramarine-70:  #2e3f8f;
    --ox-color-ibm1-ultramarine-80:  #252e6a;
    --ox-color-ibm1-ultramarine-90:  #20214f;


    /* IBM v1 - cerulean */
    --ox-color-ibm1-cerulean-1:   #deedf7;
    --ox-color-ibm1-cerulean-10:  #c2dbf4;
    --ox-color-ibm1-cerulean-20:  #95c4f3;
    --ox-color-ibm1-cerulean-30:  #56acf2;
    --ox-color-ibm1-cerulean-40:  #009bef;
    --ox-color-ibm1-cerulean-50:  #047cc0;
    --ox-color-ibm1-cerulean-60:  #175d8d;
    --ox-color-ibm1-cerulean-70:  #1c496d;
    --ox-color-ibm1-cerulean-80:  #1d364d;
    --ox-color-ibm1-cerulean-90:  #1b2834;


    /* IBM v1 - aqua */
    --ox-color-ibm1-aqua-1:   #d1f0f7;
    --ox-color-ibm1-aqua-10:  #a0e3f0;
    --ox-color-ibm1-aqua-20:  #71cddd;
    --ox-color-ibm1-aqua-30:  #00b6cb;
    --ox-color-ibm1-aqua-40:  #12a3b4;
    --ox-color-ibm1-aqua-50:  #188291;
    --ox-color-ibm1-aqua-60:  #17616b;
    --ox-color-ibm1-aqua-70:  #164d56;
    --ox-color-ibm1-aqua-80:  #13393e;
    --ox-color-ibm1-aqua-90:  #122a2e;



    /* IBM v1 - teal */
    --ox-color-ibm1-teal-1:   #c0f5e8;
    --ox-color-ibm1-teal-10:  #8ee9d4;
    --ox-color-ibm1-teal-20:  #40d5bb;
    --ox-color-ibm1-teal-30:  #00baa1;
    --ox-color-ibm1-teal-40:  #00a78f;
    --ox-color-ibm1-teal-50:  #008673;
    --ox-color-ibm1-teal-60:  #006456;
    --ox-color-ibm1-teal-70:  #124f44;
    --ox-color-ibm1-teal-80:  #133a32;
    --ox-color-ibm1-teal-90:  #122b26;


    /* IBM v1 - green */
    --ox-color-ibm1-green-1:   #cef3d1;
    --ox-color-ibm1-green-10:  #89eda0;
    --ox-color-ibm1-green-20:  #57d785;
    --ox-color-ibm1-green-30:  #34bc6e;
    --ox-color-ibm1-green-40:  #00aa5e;
    --ox-color-ibm1-green-50:  #00884b;
    --ox-color-ibm1-green-60:  #116639;
    --ox-color-ibm1-green-70:  #12512e;
    --ox-color-ibm1-green-80:  #123b22;
    --ox-color-ibm1-green-90:  #112c1b;


    /* IBM v1 - lime */
    --ox-color-ibm1-lime-1:   #d7f4bd;
    --ox-color-ibm1-lime-10:  #b4e876;
    --ox-color-ibm1-lime-20:  #95d13c;
    --ox-color-ibm1-lime-30:  #81b532;
    --ox-color-ibm1-lime-40:  #73a22c;
    --ox-color-ibm1-lime-50:  #5b8121;
    --ox-color-ibm1-lime-60:  #426200;
    --ox-color-ibm1-lime-70:  #374c1a;
    --ox-color-ibm1-lime-80:  #283912;
    --ox-color-ibm1-lime-90:  #1f2a10;


    /* IBM v1 - yellow */
    --ox-color-ibm1-yellow-1:   #fbeaae;
    --ox-color-ibm1-yellow-10:  #fed500;
    --ox-color-ibm1-yellow-20:  #e3bc13;
    --ox-color-ibm1-yellow-30:  #c6a21a;
    --ox-color-ibm1-yellow-40:  #b3901f;
    --ox-color-ibm1-yellow-50:  #91721f;
    --ox-color-ibm1-yellow-60:  #70541b;
    --ox-color-ibm1-yellow-70:  #5b421a;
    --ox-color-ibm1-yellow-80:  #452f18;
    --ox-color-ibm1-yellow-90:  #372118;











}
/* ============================================================================ */

/* FG */



/* ibm1 blue */
[data-ox-text-color="ibm1-blue-1"]  { color: var(--ox-color-ibm1-blue-1);  }
[data-ox-text-color="ibm1-blue-10"] { color: var(--ox-color-ibm1-blue-10); }
[data-ox-text-color="ibm1-blue-20"] { color: var(--ox-color-ibm1-blue-20); }
[data-ox-text-color="ibm1-blue-30"] { color: var(--ox-color-ibm1-blue-30); }
[data-ox-text-color="ibm1-blue-40"] { color: var(--ox-color-ibm1-blue-40); }
[data-ox-text-color="ibm1-blue-50"] { color: var(--ox-color-ibm1-blue-50); }
[data-ox-text-color="ibm1-blue-60"] { color: var(--ox-color-ibm1-blue-60); }
[data-ox-text-color="ibm1-blue-70"] { color: var(--ox-color-ibm1-blue-70); }
[data-ox-text-color="ibm1-blue-80"] { color: var(--ox-color-ibm1-blue-80); }
[data-ox-text-color="ibm1-blue-90"] { color: var(--ox-color-ibm1-blue-90); }


/* ibm1 ultramarine */
[data-ox-text-color="ibm1-ultramarine-1"]  { color: var(--ox-color-ibm1-ultramarine-1);  }
[data-ox-text-color="ibm1-ultramarine-10"] { color: var(--ox-color-ibm1-ultramarine-10); }
[data-ox-text-color="ibm1-ultramarine-20"] { color: var(--ox-color-ibm1-ultramarine-20); }
[data-ox-text-color="ibm1-ultramarine-30"] { color: var(--ox-color-ibm1-ultramarine-30); }
[data-ox-text-color="ibm1-ultramarine-40"] { color: var(--ox-color-ibm1-ultramarine-40); }
[data-ox-text-color="ibm1-ultramarine-50"] { color: var(--ox-color-ibm1-ultramarine-50); }
[data-ox-text-color="ibm1-ultramarine-60"] { color: var(--ox-color-ibm1-ultramarine-60); }
[data-ox-text-color="ibm1-ultramarine-70"] { color: var(--ox-color-ibm1-ultramarine-70); }
[data-ox-text-color="ibm1-ultramarine-80"] { color: var(--ox-color-ibm1-ultramarine-80); }
[data-ox-text-color="ibm1-ultramarine-90"] { color: var(--ox-color-ibm1-ultramarine-90); }



/* ibm1 cerulean */
[data-ox-text-color="ibm1-cerulean-1"]  { color: var(--ox-color-ibm1-cerulean-1);  }
[data-ox-text-color="ibm1-cerulean-10"] { color: var(--ox-color-ibm1-cerulean-10); }
[data-ox-text-color="ibm1-cerulean-20"] { color: var(--ox-color-ibm1-cerulean-20); }
[data-ox-text-color="ibm1-cerulean-30"] { color: var(--ox-color-ibm1-cerulean-30); }
[data-ox-text-color="ibm1-cerulean-40"] { color: var(--ox-color-ibm1-cerulean-40); }
[data-ox-text-color="ibm1-cerulean-50"] { color: var(--ox-color-ibm1-cerulean-50); }
[data-ox-text-color="ibm1-cerulean-60"] { color: var(--ox-color-ibm1-cerulean-60); }
[data-ox-text-color="ibm1-cerulean-70"] { color: var(--ox-color-ibm1-cerulean-70); }
[data-ox-text-color="ibm1-cerulean-80"] { color: var(--ox-color-ibm1-cerulean-80); }
[data-ox-text-color="ibm1-cerulean-90"] { color: var(--ox-color-ibm1-cerulean-90); }


/* ibm1 aqua */
[data-ox-text-color="ibm1-aqua-1"]  { color: var(--ox-color-ibm1-aqua-1);  }
[data-ox-text-color="ibm1-aqua-10"] { color: var(--ox-color-ibm1-aqua-10); }
[data-ox-text-color="ibm1-aqua-20"] { color: var(--ox-color-ibm1-aqua-20); }
[data-ox-text-color="ibm1-aqua-30"] { color: var(--ox-color-ibm1-aqua-30); }
[data-ox-text-color="ibm1-aqua-40"] { color: var(--ox-color-ibm1-aqua-40); }
[data-ox-text-color="ibm1-aqua-50"] { color: var(--ox-color-ibm1-aqua-50); }
[data-ox-text-color="ibm1-aqua-60"] { color: var(--ox-color-ibm1-aqua-60); }
[data-ox-text-color="ibm1-aqua-70"] { color: var(--ox-color-ibm1-aqua-70); }
[data-ox-text-color="ibm1-aqua-80"] { color: var(--ox-color-ibm1-aqua-80); }
[data-ox-text-color="ibm1-aqua-90"] { color: var(--ox-color-ibm1-aqua-90); }




/* ibm1 teal */
[data-ox-text-color="ibm1-teal-1"]  { color: var(--ox-color-ibm1-teal-1);  }
[data-ox-text-color="ibm1-teal-10"] { color: var(--ox-color-ibm1-teal-10); }
[data-ox-text-color="ibm1-teal-20"] { color: var(--ox-color-ibm1-teal-20); }
[data-ox-text-color="ibm1-teal-30"] { color: var(--ox-color-ibm1-teal-30); }
[data-ox-text-color="ibm1-teal-40"] { color: var(--ox-color-ibm1-teal-40); }
[data-ox-text-color="ibm1-teal-50"] { color: var(--ox-color-ibm1-teal-50); }
[data-ox-text-color="ibm1-teal-60"] { color: var(--ox-color-ibm1-teal-60); }
[data-ox-text-color="ibm1-teal-70"] { color: var(--ox-color-ibm1-teal-70); }
[data-ox-text-color="ibm1-teal-80"] { color: var(--ox-color-ibm1-teal-80); }
[data-ox-text-color="ibm1-teal-90"] { color: var(--ox-color-ibm1-teal-90); }


/* ibm1 green */
[data-ox-text-color="ibm1-green-1"]  { color: var(--ox-color-ibm1-green-1);  }
[data-ox-text-color="ibm1-green-10"] { color: var(--ox-color-ibm1-green-10); }
[data-ox-text-color="ibm1-green-20"] { color: var(--ox-color-ibm1-green-20); }
[data-ox-text-color="ibm1-green-30"] { color: var(--ox-color-ibm1-green-30); }
[data-ox-text-color="ibm1-green-40"] { color: var(--ox-color-ibm1-green-40); }
[data-ox-text-color="ibm1-green-50"] { color: var(--ox-color-ibm1-green-50); }
[data-ox-text-color="ibm1-green-60"] { color: var(--ox-color-ibm1-green-60); }
[data-ox-text-color="ibm1-green-70"] { color: var(--ox-color-ibm1-green-70); }
[data-ox-text-color="ibm1-green-80"] { color: var(--ox-color-ibm1-green-80); }
[data-ox-text-color="ibm1-green-90"] { color: var(--ox-color-ibm1-green-90); }


/* ibm1 lime */
[data-ox-text-color="ibm1-lime-1"]  { color: var(--ox-color-ibm1-lime-1);  }
[data-ox-text-color="ibm1-lime-10"] { color: var(--ox-color-ibm1-lime-10); }
[data-ox-text-color="ibm1-lime-20"] { color: var(--ox-color-ibm1-lime-20); }
[data-ox-text-color="ibm1-lime-30"] { color: var(--ox-color-ibm1-lime-30); }
[data-ox-text-color="ibm1-lime-40"] { color: var(--ox-color-ibm1-lime-40); }
[data-ox-text-color="ibm1-lime-50"] { color: var(--ox-color-ibm1-lime-50); }
[data-ox-text-color="ibm1-lime-60"] { color: var(--ox-color-ibm1-lime-60); }
[data-ox-text-color="ibm1-lime-70"] { color: var(--ox-color-ibm1-lime-70); }
[data-ox-text-color="ibm1-lime-80"] { color: var(--ox-color-ibm1-lime-80); }
[data-ox-text-color="ibm1-lime-90"] { color: var(--ox-color-ibm1-lime-90); }


/* ibm1 yellow */
[data-ox-text-color="ibm1-yellow-1"]  { color: var(--ox-color-ibm1-yellow-1);  }
[data-ox-text-color="ibm1-yellow-10"] { color: var(--ox-color-ibm1-yellow-10); }
[data-ox-text-color="ibm1-yellow-20"] { color: var(--ox-color-ibm1-yellow-20); }
[data-ox-text-color="ibm1-yellow-30"] { color: var(--ox-color-ibm1-yellow-30); }
[data-ox-text-color="ibm1-yellow-40"] { color: var(--ox-color-ibm1-yellow-40); }
[data-ox-text-color="ibm1-yellow-50"] { color: var(--ox-color-ibm1-yellow-50); }
[data-ox-text-color="ibm1-yellow-60"] { color: var(--ox-color-ibm1-yellow-60); }
[data-ox-text-color="ibm1-yellow-70"] { color: var(--ox-color-ibm1-yellow-70); }
[data-ox-text-color="ibm1-yellow-80"] { color: var(--ox-color-ibm1-yellow-80); }
[data-ox-text-color="ibm1-yellow-90"] { color: var(--ox-color-ibm1-yellow-90); }






/* ============================================================================ */

/* BG */



/* ibm1 blue */
[data-ox-bg-color="ibm1-blue-1"]   { background-color: var(--ox-color-ibm1-blue-1);  }
[data-ox-bg-color="ibm1-blue-10"]  { background-color: var(--ox-color-ibm1-blue-10); }
[data-ox-bg-color="ibm1-blue-20"]  { background-color: var(--ox-color-ibm1-blue-20); }
[data-ox-bg-color="ibm1-blue-30"]  { background-color: var(--ox-color-ibm1-blue-30); }
[data-ox-bg-color="ibm1-blue-40"]  { background-color: var(--ox-color-ibm1-blue-40); }
[data-ox-bg-color="ibm1-blue-50"]  { background-color: var(--ox-color-ibm1-blue-50); }
[data-ox-bg-color="ibm1-blue-60"]  { background-color: var(--ox-color-ibm1-blue-60); }
[data-ox-bg-color="ibm1-blue-70"]  { background-color: var(--ox-color-ibm1-blue-70); }
[data-ox-bg-color="ibm1-blue-80"]  { background-color: var(--ox-color-ibm1-blue-80); }
[data-ox-bg-color="ibm1-blue-90"]  { background-color: var(--ox-color-ibm1-blue-90); }





/* ibm1 ultramarine */
[data-ox-bg-color="ibm1-ultramarine-1"]   { background-color: var(--ox-color-ibm1-ultramarine-1);  }
[data-ox-bg-color="ibm1-ultramarine-10"]  { background-color: var(--ox-color-ibm1-ultramarine-10); }
[data-ox-bg-color="ibm1-ultramarine-20"]  { background-color: var(--ox-color-ibm1-ultramarine-20); }
[data-ox-bg-color="ibm1-ultramarine-30"]  { background-color: var(--ox-color-ibm1-ultramarine-30); }
[data-ox-bg-color="ibm1-ultramarine-40"]  { background-color: var(--ox-color-ibm1-ultramarine-40); }
[data-ox-bg-color="ibm1-ultramarine-50"]  { background-color: var(--ox-color-ibm1-ultramarine-50); }
[data-ox-bg-color="ibm1-ultramarine-60"]  { background-color: var(--ox-color-ibm1-ultramarine-60); }
[data-ox-bg-color="ibm1-ultramarine-70"]  { background-color: var(--ox-color-ibm1-ultramarine-70); }
[data-ox-bg-color="ibm1-ultramarine-80"]  { background-color: var(--ox-color-ibm1-ultramarine-80); }
[data-ox-bg-color="ibm1-ultramarine-90"]  { background-color: var(--ox-color-ibm1-ultramarine-90); }



/* ibm1 cerulean */
[data-ox-bg-color="ibm1-cerulean-1"]   { background-color: var(--ox-color-ibm1-cerulean-1);  }
[data-ox-bg-color="ibm1-cerulean-10"]  { background-color: var(--ox-color-ibm1-cerulean-10); }
[data-ox-bg-color="ibm1-cerulean-20"]  { background-color: var(--ox-color-ibm1-cerulean-20); }
[data-ox-bg-color="ibm1-cerulean-30"]  { background-color: var(--ox-color-ibm1-cerulean-30); }
[data-ox-bg-color="ibm1-cerulean-40"]  { background-color: var(--ox-color-ibm1-cerulean-40); }
[data-ox-bg-color="ibm1-cerulean-50"]  { background-color: var(--ox-color-ibm1-cerulean-50); }
[data-ox-bg-color="ibm1-cerulean-60"]  { background-color: var(--ox-color-ibm1-cerulean-60); }
[data-ox-bg-color="ibm1-cerulean-70"]  { background-color: var(--ox-color-ibm1-cerulean-70); }
[data-ox-bg-color="ibm1-cerulean-80"]  { background-color: var(--ox-color-ibm1-cerulean-80); }
[data-ox-bg-color="ibm1-cerulean-90"]  { background-color: var(--ox-color-ibm1-cerulean-90); }


/* ibm1 aqua */
[data-ox-bg-color="ibm1-aqua-1"]   { background-color: var(--ox-color-ibm1-aqua-1);  }
[data-ox-bg-color="ibm1-aqua-10"]  { background-color: var(--ox-color-ibm1-aqua-10); }
[data-ox-bg-color="ibm1-aqua-20"]  { background-color: var(--ox-color-ibm1-aqua-20); }
[data-ox-bg-color="ibm1-aqua-30"]  { background-color: var(--ox-color-ibm1-aqua-30); }
[data-ox-bg-color="ibm1-aqua-40"]  { background-color: var(--ox-color-ibm1-aqua-40); }
[data-ox-bg-color="ibm1-aqua-50"]  { background-color: var(--ox-color-ibm1-aqua-50); }
[data-ox-bg-color="ibm1-aqua-60"]  { background-color: var(--ox-color-ibm1-aqua-60); }
[data-ox-bg-color="ibm1-aqua-70"]  { background-color: var(--ox-color-ibm1-aqua-70); }
[data-ox-bg-color="ibm1-aqua-80"]  { background-color: var(--ox-color-ibm1-aqua-80); }
[data-ox-bg-color="ibm1-aqua-90"]  { background-color: var(--ox-color-ibm1-aqua-90); }




/* ibm1 teal */
[data-ox-bg-color="ibm1-teal-1"]   { background-color: var(--ox-color-ibm1-teal-1);  }
[data-ox-bg-color="ibm1-teal-10"]  { background-color: var(--ox-color-ibm1-teal-10); }
[data-ox-bg-color="ibm1-teal-20"]  { background-color: var(--ox-color-ibm1-teal-20); }
[data-ox-bg-color="ibm1-teal-30"]  { background-color: var(--ox-color-ibm1-teal-30); }
[data-ox-bg-color="ibm1-teal-40"]  { background-color: var(--ox-color-ibm1-teal-40); }
[data-ox-bg-color="ibm1-teal-50"]  { background-color: var(--ox-color-ibm1-teal-50); }
[data-ox-bg-color="ibm1-teal-60"]  { background-color: var(--ox-color-ibm1-teal-60); }
[data-ox-bg-color="ibm1-teal-70"]  { background-color: var(--ox-color-ibm1-teal-70); }
[data-ox-bg-color="ibm1-teal-80"]  { background-color: var(--ox-color-ibm1-teal-80); }
[data-ox-bg-color="ibm1-teal-90"]  { background-color: var(--ox-color-ibm1-teal-90); }


/* ibm1 green */
[data-ox-bg-color="ibm1-green-1"]   { background-color: var(--ox-color-ibm1-green-1);  }
[data-ox-bg-color="ibm1-green-10"]  { background-color: var(--ox-color-ibm1-green-10); }
[data-ox-bg-color="ibm1-green-20"]  { background-color: var(--ox-color-ibm1-green-20); }
[data-ox-bg-color="ibm1-green-30"]  { background-color: var(--ox-color-ibm1-green-30); }
[data-ox-bg-color="ibm1-green-40"]  { background-color: var(--ox-color-ibm1-green-40); }
[data-ox-bg-color="ibm1-green-50"]  { background-color: var(--ox-color-ibm1-green-50); }
[data-ox-bg-color="ibm1-green-60"]  { background-color: var(--ox-color-ibm1-green-60); }
[data-ox-bg-color="ibm1-green-70"]  { background-color: var(--ox-color-ibm1-green-70); }
[data-ox-bg-color="ibm1-green-80"]  { background-color: var(--ox-color-ibm1-green-80); }
[data-ox-bg-color="ibm1-green-90"]  { background-color: var(--ox-color-ibm1-green-90); }




/* ibm1 lime */
[data-ox-bg-color="ibm1-lime-1"]   { background-color: var(--ox-color-ibm1-lime-1);  }
[data-ox-bg-color="ibm1-lime-10"]  { background-color: var(--ox-color-ibm1-lime-10); }
[data-ox-bg-color="ibm1-lime-20"]  { background-color: var(--ox-color-ibm1-lime-20); }
[data-ox-bg-color="ibm1-lime-30"]  { background-color: var(--ox-color-ibm1-lime-30); }
[data-ox-bg-color="ibm1-lime-40"]  { background-color: var(--ox-color-ibm1-lime-40); }
[data-ox-bg-color="ibm1-lime-50"]  { background-color: var(--ox-color-ibm1-lime-50); }
[data-ox-bg-color="ibm1-lime-60"]  { background-color: var(--ox-color-ibm1-lime-60); }
[data-ox-bg-color="ibm1-lime-70"]  { background-color: var(--ox-color-ibm1-lime-70); }
[data-ox-bg-color="ibm1-lime-80"]  { background-color: var(--ox-color-ibm1-lime-80); }
[data-ox-bg-color="ibm1-lime-90"]  { background-color: var(--ox-color-ibm1-lime-90); }



/* ibm1 yellow */
[data-ox-bg-color="ibm1-yellow-1"]   { background-color: var(--ox-color-ibm1-yellow-1);  }
[data-ox-bg-color="ibm1-yellow-10"]  { background-color: var(--ox-color-ibm1-yellow-10); }
[data-ox-bg-color="ibm1-yellow-20"]  { background-color: var(--ox-color-ibm1-yellow-20); }
[data-ox-bg-color="ibm1-yellow-30"]  { background-color: var(--ox-color-ibm1-yellow-30); }
[data-ox-bg-color="ibm1-yellow-40"]  { background-color: var(--ox-color-ibm1-yellow-40); }
[data-ox-bg-color="ibm1-yellow-50"]  { background-color: var(--ox-color-ibm1-yellow-50); }
[data-ox-bg-color="ibm1-yellow-60"]  { background-color: var(--ox-color-ibm1-yellow-60); }
[data-ox-bg-color="ibm1-yellow-70"]  { background-color: var(--ox-color-ibm1-yellow-70); }
[data-ox-bg-color="ibm1-yellow-80"]  { background-color: var(--ox-color-ibm1-yellow-80); }
[data-ox-bg-color="ibm1-yellow-90"]  { background-color: var(--ox-color-ibm1-yellow-90); }



/* ============================================================================ */
